<div class="box-container mb">
  <div class="box-header">
    <h3><i class="i black-news"></i> Fotos Recientes</h3>
  </div>
  <div class="box-main">
    <div class="recent-photos-thumbs">
      <ul></ul>
     <!--  <a href="#" class="load-more-links">Ver todas las imágenes &rarr;</a></br></br> -->
    </div>
  </div>
</div> 