<a href="#torneo/{{_id}}" onclick="setTimeout(function(){window.scrollTo(0, 400);},300);">
  <span class="img" style="background-image:url('https://www.somosfut.com/tournament/{{_id}}/avatar')"></span>
<br/> {{name}}
</a>