<div>
  <div class="standalone-title">
    <div class="wrapper">
      <div class="cols-16">
        <div class="col col-16">
          <div class="col-inner">
            <div class="main mb">
              <div class="content">
                <h1>Beneficios</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="cols-12">
      <div class="coupons-list">
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon">
              <a
                href="http://www.pasionqueconecta.mx/"
                style="background-image: url('http://i65.tinypic.com/zlahab.jpg')"
                class="coupon__content"
                target="_blank"
                title="#PasiónQueConecta"
              >
              #PasiónQueConecta
              </a>
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon coupon--disabled">
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon coupon--disabled">
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon coupon--disabled">
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon coupon--disabled">
            </div>
          </div>
        </div>
        <div class="col col-4">
          <div class="col-inner">
            <div class="coupon coupon--disabled">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>