<div class="mobile-wrapper">
<!-- Content -->



<div class="tabs">
 <a href="#mobile/player"> <div class="player-tab-inactive">Jugadores</div></a>
  <div class="admin-tab-active">Admins</div>
</div>

<div class="">
<center>
<!--   <i class="i somos-brand mobile-login"></i> -->
</center>
<form id="login-form" class="user-form" method="post">
  <div class="header"></div>
  <div class="content">
  <!--   <div class="form-section no-border alpha">
      <button type="button" class="btn btn-fb btn-medium btn-full fb-login">
        Inicia con Facebook
      </button>
    </div>
    <p align="center" style="color: #FFF;">- Ò -</p>
 -->
    <div class="form-section no-border">
      <div class="main main-form">
      <i class="i i-email"></i>
        <input type="email" name="email" placeholder="Correo Electrónico" data-validator-required="" data-validator-email="" id="email" data-validator-error="" class="input-login">
      </div>
    </div>

    <div class="form-section no-border">
      <div class="main main-form">
     <i class="i i-password"></i>
        <input type="password" name="pass" placeholder="Contraseña" data-validator-required="" data-validator-minlength="8" id="password" class="mbh input-login" data-validator-error="">
      </div>

      <center>
        <div class="submit-login">
          <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-large btn-login">
        </div>
      </center>
    </div>
  </div>

  <div class="footer">
    <div class="links-login">
       <a href="#reset">¿Olvidaste tu Contraseña?</a>
<!--       <a href="#register">Registrar Cuenta</a> -->
    </div>
    <div class="clr"></div>
  </div>
</form>
  </div>

<!-- / Content -->




<!-- Content -->
</div>
