<div class="mobile-wrapper">
<!-- Content -->
<!-- <a href="#" onclick="window.open('http://somosfut.us9.list-manage.com/subscribe?u=38be1daceba9b3dc83fbda944&id=733d4bb40a', '_system');"> <div class="contact-us">
<p class="contact-league">¿Aún no estamos en tu Liga? Contáctanos &#8594;</p> 
</div></a> -->

<div class="tabs">
 <div class="player-tab-active"><!-- <i class="i-players-tab"> --></i>Jugadores</div>
  <a href="#mobile/login"> 
<div class="admin-tab-inactive">Admins</div>
</a><!-- <i class="i-admins-tab"></i> -->
</div>

<div class="">
<center>
<!--   <i class="i somos-brand mobile-login"></i> -->
</center>

  </div>

<!-- / Content -->
<br><br>
  
           <div id="searchfield">
           <div class="search-icon">
         <i class="i i-search"></i>
        <input type="text" name="leagues" class="biginput browser-league" id="autocomplete" placeholder="Encuentra tu Liga...">
  
   </div>   </div><!-- @end #searchfield -->
      
      <div id="outputbox">
        <p id="outputcontent"></p>
      </div>
      </div>

     <!--  <div class="links-social">
<a href="#" onclick="window.open('http://facebook.com/somosfut10', '_system');"> 
<div class="i-fb"></div>
</a>
<a href="#" onclick="window.open('http://twitter.com/somosfut10', '_system');"> 
<div class="i-tw"></div>
</a>
    </div>
 -->

<!-- <a href="#" onclick="window.open('https://itunes.apple.com/mx/app/soccer-id/id1222346288?mt=8', '_system');">
      <div class="pre-reg"></div> 
</a> -->

<!-- <a href="#" onclick="window.open('https://play.google.com/store/apps/details?id=co.soccerid.app', '_system');">
      <div class="pre-reg"></div> 
</a>
 --> 
<!-- Content -->
</div>