<div class="modal fade">
  <div class="modal-dialog login-user-modal">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Content -->
        <form id="login-form" class="user-form" method="post">
          <div class="header">
            <h2>Resetear Contraseña</h2>
          </div>
          <div class="content">
            <div class="form-section no-border">
              <p>Para resetear tu contraseña por favor proporciona el email con el que estás registrado.</p>
              <br />
              <!-- <div class="label">
                <label for="email">Correo Electrónico: <span class="rqd">*</span></label>
              </div> -->
              <div class="main">
                <input type="email" name="email" placeholder="Correo Electrónico" data-validator-required="" data-validator-email="" id="email" data-validator-error="">
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="fl">
              <input type="submit" 
                     value="Resetear Contraseña"
                     class="btn btn-primary btn-medium">
            </div>
            <div class="clr"></div>
          </div>
        </form>
        <!-- / Content -->
      </div>
    </div>
  </div>
</div>