<div class="wrapper">
  <div class="cols-16">
    <div class="col col-16">
      <div class="col-inner">
        <div class="box-container mb">
          <div class="box-header">
            <h2>Información General</h2>
          </div>
          <div class="box-main pa txt">
            <pre>{{extras.info}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>