<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Rol</h2>
        <div class="actions">
          <select name="jornada" class="calendar-weeks"></select>
           <button id="killSeasonBtn" style="display:none;" class="btn btn-secondary">&#x1f5d1;</button>
           <button class="btn btn-primary jornada">+ Jornada</button>
           <button class="btn btn-primary create">+ Partido</button>
        </div>
      </div>
      <div class="box-main">
        <div class="matches-list">
          
        </div>
      </div>
    </div>
  </div>
</div>