<div id="tournamentModal"></div>
<div class="wrapper">
  <div class="cols-16">
    <div id="tournamentSidebar" class="col col-4"></div>
    <div id="tournamentContent" class="col col-12"></div>
  </div>
</div>