<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Liguilla</h2>
        <div class="actions">
          <button class="btn btn-primary create">+ Liguilla</button>
          <select name="finals" style="display:none;margin-left : 3px;height: 24px;padding: 5px 20px 5px 8px;font-size: 10px;"></select>
        </div>
      </div>
      <div id="leagueFinalsList" class="box-main">
        <div class="matches-list"></div>
      </div>
    </div>
  </div>
</div>