<div class="modal fade">
  <div class="modal-dialog register-user-modal">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Content -->
        <form class="user-form" method="post">
          <div class="header">
          
            <h2>Crear Liguilla</h2>
          
          </div>
          <div class="content">
            
            <div class="form-section no-border">
              <div class="label">
                <label for="">Iniciar en: <span class="rqd">*</span></label>
              </div>
              <div class="main"> 
                <select name="stage" data-validator-required>
                  <option value="2">Semifinal</option>
                  <option value="3">Cuartos de final</option>
                  <option value="4">Octavos de final</option>
                  <option value="5">Dieciseisavos de final</option>
                </select>
              </div>
            </div>
          </div>
          <div class="footer">
            <input type="submit"
            
                   value="Crear Liguilla"
           
                   class="btn btn-primary btn-medium submit">
            <div class="clr"></div>
          </div>
        </form>
        <!-- / Content -->
      </div>
    </div>
  </div>
</div>