<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Arbitrajes</h2>
      </div>
      <div class="box-main">
        <table class="primary-table">
          <thead>
            <tr>
              <th>Equipo</th>
              <th>Adeudo</th>
              <th>Historial</th>
              <th>Notificación</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>