.modal {
  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate(0, -25%);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate(0, 0) }
}

.modal-content {
  background-color: #FFF;
  border-radius: 2px;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
}

.modal-backdrop {
  background-color: #000;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity(0.6); }
}

.modal-body {
  div.header {
    padding: 14px 10px;
    border-bottom: 2px solid $primary-color;
  }

.vimeo{
  width: 520px;
}
  
  div.footer {
    padding: 10px;
    position: relative;
    background: #fbfbf7;
    border-top: 1px solid #e6e6e1;
    
    div.clr {
      clear: both;
    }
  }
}