<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Content -->
        <span class="lightbox-holder"></span>
        <!-- / Content -->
      </div>
    </div>
  </div>
</div>