<div class="modal fade">
  <div class="modal-dialog vimeo-modal">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Content -->
        <iframe src="//player.vimeo.com/video/108594906" width="100%" height="281px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <!-- / Content -->
      </div>
    </div>
  </div>
</div>