<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h3><i class="i cup"></i> <span id="contentBlockTitle">Liguilla</span></h3>
        <div class="actions">
          
          <select name="finals" style="display:none;margin-left : 3px;height: 24px;padding: 5px 20px 5px 8px;font-size: 10px;"></select>
        </div>
      </div>
      <div class="box-main">
        <div class="matches-list">
          
        </div>
      </div>
    </div>
  </div>
</div>