<div class="cols-16">
  <div class="col col-16">
    <div class="col-inner">
        <div class="basic-header-nav mb">
          <div class="extract" style="background-image: url('https://www.somosfut.com/league/{{_id}}/front');">
            <div class="avatar" style="background-image: url('https://www.somosfut.com/league/{{_id}}/avatar');">
            </div>
            <div class="title">
              <h1>{{name}}</h1>
              <h5>www.somosfut.com/#liga/<span>{{url}}</span></h5>
            </div>
          </div>
          <div class="nav">
            <ul>
              <li class="active">
                <a href="inicio">Inicio</a>
              </li>
              <li>
                <a href="info">Información</a>
              </li>
               <li>
                <a href="galeria">Galería</a>
              </li>
              <li>
                <a href="noticias">Noticias</a>
              </li>

              <li>
                <a href="reglamento">Reglamento</a>
              </li>
             
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>