<div class="wrapper">
  <div class="cols-16">
    <div class="col col-16">
      <div class="col-inner">
        <div class="league-tournaments mb">
          <div class="head">
            <i class="i cup"></i>
            <h3>Torneos</h3>
          </div>
          <div id="leagueTournamentsStripe" class="tournaments">
            <!-- Tournaments stripe -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="cols-16">
    <div class="col col-10">
      <div class="col-inner">

        <div class="box-container mb" id="leagueFinalsList" style="display:none;">
    
        </div>

        <div class="box-container mb">
          <div class="box-header">
            <h3>
              <i class="i black-ball"></i>
              <span id="contentBlockTitle">
                <select id="viewMatchesSel" disabled="disabled" style="margin-left : 3px;height: 32px;padding: 5px 20px 5px 8px;font-size: 14px;">
                  <option value="prev">Partidos previos</option>
                  <option value="today" selected="selected">Partidos de hoy</option>
                  <option value="next">Pr&oacute;ximos partidos</option>
                </select>
              </span>
              
            </h3>
          </div>
          <div id="leagueMatchesList" class="box-main">
            <!-- Matches list -->
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div id="leagueSidebar" class="col-inner">
        <!-- Sidebar widgets -->
      </div>
    </div>
  </div>
</div>