<div class="modal fade">
  <div class="modal-dialog register-user-modal">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Content -->
        <form class="user-form" method="post">
          <div class="header">
            <h2>Confirmar navegación</h2>
          </div>
          <div class="content">
            <div class="form-section no-border">
              Estás dejando la página sin guardar tus cambios.
            </div>
          </div>
          <div class="footer">
            <input type="button"
                   name="confirm"
                   value="Guardar cambios"
                   class="btn btn-primary btn-medium submit">
            <input type="button"
                   name="cancel"
                   value="No guardar"
                   class="btn btn-primary btn-medium">
            <div class="clr"></div>
          </div>
        </form>
        <!-- / Content -->
      </div>
    </div>
  </div>
</div>