<div class="wrapper">
  <div class="cols-16">
    <div class="col col-16">
      <div class="col-inner">
        <header class="header-inner">
          <div class="brand">
            <a href="#" title="SomosFut"><i class="i somos-brand"></i></a>
          </div>
          <nav class="site-navigation">
             <ul>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle">Ligas</a>
                <ul class="dropdown-menu dropdown-menu-left">
                  {{#each leagues}}
                  <li>
                    <a href="#league/home/{{_id}}">{{name}}</a>
                  </li>
                  {{/each}}
                </ul>
              </li> -->
            </ul>
          </nav>
          <div class="header-user-box dropdown">
            <div class="user-box-inner dropdown-toggle">
              <span class="user-avatar"></span>
              <div class="arrow"></div>
            </div>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#liga/{{url}}"><b>Ver mi Liga</b></a></li>
               <li class="divider"></li>
              <li><a href="#home">Editar Torneos</a></li>
              <li><a href="#edit/league">Editar Liga</a></li>
               <li class="divider"></li>
              <li><a href="#" onclick="window.open('https://somosfut.zendesk.com/hc/es', '_system');"><b>Tutoriales de uso</b></a></li>
              <li><a href="#" onclick="window.open('https://somosfut.zendesk.com/hc/es/requests/new', '_system');"><b>Pedir Ayuda</b></a></li>
              <li class="divider"></li>
              <li><a href="#logout">Cerrar sesión</a></li>
            </ul>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>