<div class="col col-3">
  <div class="col-inner">
    <div class="tournament-card">
      <div class="info">
        <a href="#team/home/{{_id}}">
        <span class="image" style="background-image: url('https://www.somosfut.com/team/{{_id}}/avatar');"></span>
          <h5>{{name}}</h5>
        </a>
        <br>
      </div>
    </div>
  </div>
</div>
