<div class="standalone-title">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <div class="main mb">
            <div class="content">
              <h1>Equipos</h1>
            </div>
            <div class="actions">
              <a href="#register/team/new"
                 class="btn btn-primary">Crear</a>
              <a href="#register/team/join"
                 class="btn btn-primary">Unirse </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tournamets-cards-list">
  <div class="wrapper">
    <div class="cols-12">
      <!-- Cells content -->
    </div>
  </div>
</div>