<div class="wrapper">
  <div class="cols-16">
    <!-- Col 1 -->
    <div class="col col-16">
      <div class="col-inner">
        <!-- New post form -->
        <div id="postForm" class="new-post">
          <form method="POST">
            <div class="main">
              <textarea id="postContent"
                        data-validator-required
                        data-validator-minlength="2"
                        rows="3"
                        placeholder="Escribe en tu equipo..."></textarea>
            </div>
            <div class="footer">
              <!-- Caractéres Escritos: <span class="counter">0</span> -->
              <div class="actions">
                <input id="publish"
                       type="submit"
                       class="btn btn-primary"
                       value="Publicar">
              </div>
            </div>
          </form>
        </div>
        
        <!-- Posts list -->
        <div class="posts-list">
          
        </div>
      </div>
    </div>
    
    <!-- Sidebar -->
  <!--   <div class="col col-5">
      <div class="col-inner">
        <div class="box-container">
          <div class="box-header">
            <h4>Próximos Partidos</h4>
          </div>
          <div class="box-main">
            <! Matches list -->
           <!--  <div class="matches-list">
              <div class="match">
                <p style="text-align:center;padding:20px;font-style:italic;">Aún no tienes partidos calendarizados, es necesario que te unas a una liga; solicita tu código de acceso al administrador de tu torneo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  -->
  </div>
</div>