<div class="col-inner">
  <div class="sidebar mb">
    <div class="sidebar-title">
      <h4>Editar Liga</h4>
    </div>
    <ul class="sidebar-list">
      <li>
        <a href="info" class="active">Información Básica</a>
      </li>
      <li>
        <a href="contact">Contacto</a>
      </li>
      <li>
        <a href="rules">Reglamento</a>
      </li>
      <li>
        <a href="extras">Adicionales</a>
      </li>
    </ul>
  </div>
</div>