<div class="register-header">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <a href="#" title="SomosFut"><i class="i somos-brand-ball"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>