<div class="wrapper">
  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-13.png" alt="">
            <h4>Torneos</h4>
            <p>Perfil por cada torneo que existe en tu liga sin importar cuantos sean, además cada uno de ellos es auto administrable permitiendo llevar un mejor control.</p>
            <ul>
              <li><i class="i check-green"></i> Torneos ilimitados</li>
              <li><i class="i check-green"></i> Equipos </li>
              <li><i class="i check-green"></i> Estadísticas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-6.png" alt="">
            <h4>Partidos</h4>
            <p>Además de notificar a los jugadores de cada partido, al término del mismo podrán conocer el resultado, anotadores, asistencias, amonestados y expulsados.</p>
            <ul>
              <li><i class="i check-green"></i> Lugar y hora</li>
              <li><i class="i check-green"></i> Resultados</li>
              <li><i class="i check-green"></i> Detalles</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-9.png" alt="">
            <h4>Estadísticas</h4>
            <p>Cada torneo genera sus propias estadísticas, esto permite tener un mejor control y comunicación con los equipos y jugadores que participan en los mismos.</p>
            <ul>
              <li><i class="i check-green"></i> Por torneo</li>
              <li><i class="i check-green"></i> Por equipo</li>
              <li><i class="i check-green"></i> Por jugador</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-10.png" alt="">
            <h4>Calendario</h4>
            <p>El administrador puede crear manualmente o “random” el calendario de juegos de cada torneo en su Liga, si algo sucede puede posponer, cancelar o modificar los partidos.</p>
            <ul>
              <li><i class="i check-green"></i> Random</li>
              <li><i class="i check-green"></i> Manual</li>
              <li><i class="i check-green"></i> Editable</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-3.png" alt="">
            <h4>Sitio Web Informativo</h4>
            <p>Información de la Liga, ubicación, precios, noticias, galería, instalaciones, y todo lo necesario para dar a conocer tu Liga entre jugadores y Equipos.</p>
            <ul>
              <li><i class="i check-green"></i> Información</li>
              <li><i class="i check-green"></i> Noticias</li>
              <li><i class="i check-green"></i> Galería</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-8.png" alt="">
            <h4>Arbitrajes</h4>
            <p>SOMOS FUT permite a los administradores llevar un control de pagos y adeudos sobre los arbitrajes que deben pagar los equipos que juegan en su Liga.</p>
            <ul>
              <li><i class="i check-green"></i> Precios</li>
              <li><i class="i check-green"></i> Pagos</li>
              <li><i class="i check-green"></i> Adeudos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>