<div class="home-features-title">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <h2>Conoce SomosFut</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="cols-12">
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-1.png" alt="">
            <h5>Ligas</h5>
            <p>Perfil (sitio web) para Ligas con Información, Estadísticas por Torneo, Calendarios, Galerías, Avisos, Pagos,  Noticias y más. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-3.png" alt="">
            <h5>Equipos</h5>
            <p>Perfil por equipo que incorpora, Miembros, Calendario, Chat, Multimedia, Alineaciones, Tácticas y mucho más.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-2.png" alt="">
            <h5>Jugadores</h5>
            <p>Perfil de jugador con Estadísticas Reales, Equipos, Partidos, Nivel de Juego e Información General del Jugador.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-4.png" alt="">
            <h5>Partidos</h5>
            <p>Conoce el Horario, Cancha, Resultado, Estadísticas, Anotadores, Asistencias, Amonestados y Suspendidos por partido.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-9.png" alt="">
            <h5>Estadísticas</h5>
            <p>Nuestro sistema permite tener al día las estadísticas de todos los torneos, Equipos, Partidos y Jugadores de una Liga.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="col-inner">
        <div class="home-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-5.png" alt="">
            <h5>Notificaciones</h5>
            <p>SOMOS FUT permite enviar y recibir notificaciones PUSH, SMS y Mail sobre Partidos, Avisos, Chat del Equipo y más.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>