<header id="header-view" class="landing-header">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <div class="landing-header-inner">
            <div class="brand">
              <a href="#" title="SomosFut"><i class="i somos-brand"></i></a>
            </div>
            <nav class="site-navigation">
              <ul>
                <li id="item-home"><a href="#" class="active">Inicio</a></li>
                <li id="item-leagues"><a href="#leagues">Ligas</a></li>
                <li id="item-teams"><a href="#teams">Equipos</a></li>
                <li id="item-players"><a href="#players">Jugadores</a></li>
                <!--
                  <li id="item-contact"><a href="contact">Contacto</a></li>
                -->
              </ul>
            </nav>
            <div class="user-menu-wrapper">
              <ul id="user-menu">
                <li><a href="#register">Admin</li>
               <!--  <li><a href="#register" class="signup">Regístrate Ahora</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>