<div class="wrapper">
  <div class="cols-16">
    <div class="col col-11">
      <div class="col-inner">
        <div class="profile-intro">
          <div class="title">
            <i class="i teams"></i>
            <h1>Equipos</h1>
          </div>
          <p>Nosotros también jugamos y conocemos los problemas que surgen al manejar un equipo de Fútbol. Queremos que tu equipo únicamente tenga que preocuparse por ganar el próximo partido.</p>
        </div>
      </div>
    </div>
  </div>
</div>