<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="content">
          <div class="coupons-modal">
            <img src="assets/img/icons/coupon-green.png" alt="">
            <h1>Beneficios SomosFut</h1>
            <p>
             ¡Cada partido jugado, gol anotado o victoria de
              tu equipo te da puntos a canjear!
            </p>
            <a href="#cupones" class="btn btn-primary btn-large goto-coupons">
              Beneficios disponibles
            </a>
            <br>
            <a href="" class="dont-show">No volver a mostrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>