<div class="new-user-select-option">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-3"></div>
      <div class="col col-10">
        <div class="col-inner">
        <!--  <p class="socials">¡Asegúrate de seguirnos y <b>obtén recompensas </br>cada partido jugado, gol anotado y más!</b> </br></br>
         <a href="https://www.facebook.com/somosfut10" target="_blank" title="SomosFut"><i class="i fb"></i></a>
         <a href="https://twitter.com/somosfut10" target="_blank" title="SomosFut"><i class="i tw"></i></a>
         <a href="https://www.instagram.com/somosfut10" target="_blank" title="SomosFut"><i class="i ig"></i></a></p> -->
          <div class="title">
            <h1>Para iniciar:</h4>
          </div>
          <div class="options">
            <div class="cols-12">
              <div class="col col-6 alpha">
                <div class="col-inner">
                  <a href="#register/team/new" class="option-box">
                    Crea un equipo <span>→</span>
                  </a>
                </div>
              </div>
              <div class="col col-6 omega">
                <div class="col-inner">
                  <a href="#register/team/join" class="option-box">
                    Únete a un equipo <span>→</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>