<h4 class="title">{{title}}</h4>
<pre>{{content}}</pre>
<div class="meta">
  <ul>
    <li>
      <span>{{relativeDate date}}</span>
    </li>
    <!-- <li>
      <span class="edit">Editar</span>
    </li> -->
    <li>
      <span class="delete">Borrar</span>
    </li>
  </ul>
</div>