<div class="col-inner">
  <div class="sidebar mb">
    <div class="league-a-tournamet-extract">
      <span class="image"
            style="background-image:url('https://www.somosfut.com/tournament/{{id}}/avatar')"></span>
      <h4 class="title">{{name}}</h4>
      <a class="nav-active" id="nav-mobile" href="#"></a>
    </div>
    <ul class="sidebar-list sidebar-mobile">
     <li>
        <a href="stats" class="active nav-active">Estadísticas</a>
      </li>
       <li>
        <a href="calendar" class="nav-active">Rol de Juego</a>
      </li>
      <li>
        <a href="teams" class="nav-active">Equipos</a>
      </li>
       <li>
        <a href="players" class="nav-active">Jugadores</a>
      </li>
     
    
      <!-- <li>
        <a href="referee">Arbitrajes</a>
      </li> -->
      <li>
        <a href="news" class="nav-active">Noticias</a>
      </li>
      <li>
        <a href="gallery" class="nav-active">Galeria</a>
      </li>
       <li>
        <a href="details" class="nav-active"> Editar Torneo</a>
      </li>
    </ul>
  </div>
</div>