
// Paths
$background-path: '../img/background';

// Common
$radius: 1px;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: "Helvetica Neue", sans-serif;

// Colors
$primary-color: #cf3678;
$white-color: #fff;
$meta-color: #808080;
$text-color: #333;
$text-gray-color: #adadad;
$separator-color: #eaeaea;
$gray-color: #666;

// Forms
$input-height: 33px;