<div class="wrapper">
  <div class="cols-16">
    <div class="col col-11">
      <div class="col-inner">
        <div class="profile-intro">
          <div class="title">
            <i class="i shirt-player"></i>
            <h1>Jugadores</h1>
          </div>
          <p>Queremos mejorar tu experiencia como jugador, hacerte sentir como todo un profesional y permitirte estar al día de todo lo que rodea a tu gran pasión. Porque todos SOMOS FUT.</p>
        </div>
      </div>
    </div>
  </div>
</div>