<div class="wrapper">
  <div class="cols-16">
    <div class="col col-11">
      <div class="col-inner">
        <div class="profile-intro">
          <h1>Contacto</h1>
          <p>Estamos en constante búsqueda de unir nuevas Ligas, Canchas, Jugadores y Equipos a nuestro servicio.</p>
          <p>¿Eres dueño o administrador de una Liga? ¿Quisieras que la Liga donde juegas cuente con SOMOS FUT? Puedes contactarnos por los siguientes medios:</p>
          <p>Email: <a href="mailto:hola@somosfut.com">hola@somosfut.com</a> <br>Teléfono: 41649893</p>
          <p>O síguenos en redes sociales <a href="http://facebook.com/somosfut10" title="Facebook">Facebook</a> y <a href="https://twitter.com/somosfut10" title="Twitter">Twitter</a>.</p>

        </div>
      </div>
    </div>
  </div>
</div>