<div class="wrapper">
  <div class="cols-16">
    <div class="col col-16">
      <div class="col-inner">
        <div class="subscribe-platforms-inner">
          <h5>¡Las mejores Ligas ya cuentan con SomosFut!</br><b> ¿Qué esperas para unirte?</b></h5>
          <br>
           <a target="_blank" href="http://eepurl.com/6RSQH" title="Lo quiero en mi Liga" class="btn btn-primary btn-large btn-black">Lo quiero en mi Liga</a>
         <!--  <form class="susbscribe-form" action="//somosfut.us9.list-manage.com/subscribe/post-json?u=38be1daceba9b3dc83fbda944&amp;id=733d4bb40a&amp;c=?" method="post" novalidate="">
            <div class="subscribe-button light">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Correo Electrónico">
              <button type="submit" class="btn btn-medium btn-primary btn-hard">Enviar</button>
              <div class="message"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_38be1daceba9b3dc83fbda944_733d4bb40a" tabindex="-1" value=""></div>
          </form> -->
          <img src="assets/img/background/platforms.png" alt="" class="platforms-illustration">
        </div>
      </div>
    </div>
  </div>
</div>