<div class="wrapper">
  <div class="cols-16">
    <div class="col col-16">
      <div class="col-inner">
        <div class="box-container mb">
          <div class="box-header">
            <h1>Información</h1>
            <button id="saveInfo"
                    class="btn btn-primary hidden">Guardar Cambios</button>
          </div>
          <div class="box-main pa txt">
            <!-- Content -->
            <pre></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>