<div class="col col-4">
  <div class="col-inner">
    <a href="#jugador/{{url}}" title="" class="team-player">
      <div class="player-avatar">
        <span class="image" style="background-image: url('https://www.somosfut.com/user/{{_id}}/avatar');"></span>
      </div>
      <div class="player-info">
        <h5>{{maxChars 20 fullName}}</h5>
        <span>{{info.position}}</span>
      </div>
    </a>
  </div>
</div>
