<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Rol</h2>
        <div class="actions">
          <button class="btn btn-secondary jornada">+ Jornada</button>
          <button class="btn btn-primary create">+ Partido</button>
          <select name="jornada"></select>
        </div>
      </div>
      <div class="box-main">
        <div class="matches-list">
          
        </div>
      </div>
    </div>
  </div>
</div>