<div class="col-inner">
  <div class="container">
    <div class="box-container mb">
      <div class="box-header">
        <h2>Galería</h2>
        <div class="actions">
          <button class="btn btn-primary create">Agregar Imagen</button>
        </div>
      </div>
      <div class="box-main">
        <div class="photos">
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
</div>