<span class="photo">
  <a href="{{extras.img}}"
     target="_blank"
     class="hasTip"
     title="{{title}}"
     style="background-image: url('{{extras.img}}');"></a>
  <ul class="actions">
    <li>
      <span class="delete"><i class="i trash-white"></i></span>
    </li>
  </ul>
</span>