<div class="wrapper">
  <div class="cols-12">
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-5.png" alt="">
            <h4>Notificaciones</h4>
            <p>Cada miembro del equipo recibirá una notificación en su teléfono cuando se publique el próximo partido, cambios de horarios, avisos de la Liga, entre otros casos.</p>
            <ul>
              <li><i class="i check-green"></i> Partidos</li>
              <li><i class="i check-green"></i> Avisos</li>
              <li><i class="i check-green"></i> Chats</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-7.png" alt="">
            <h4>Perfil del equipo</h4>
            <p>Permite que el mundo conozca el gran equipo que tienes, sus logros, jugadores y porque se reúnen para jugar cada semana.</p>
            <ul>
              <li><i class="i check-green"></i> Jugadores</li>
              <li><i class="i check-green"></i> Logros</li>
              <li><i class="i check-green"></i> Estadísticas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-12.png" alt="">
            <h4>Chat</h4>
            <p>Sistema de comunicación entre los integrantes de un mismo equipo, les permite intercambiar, texto, imágenes y video.</p>
            <ul>
              <li><i class="i check-green"></i> Texto</li>
              <li><i class="i check-green"></i> Fotos</li>
              <li><i class="i check-green"></i> Video</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-14.png" alt="">
            <h4>Alineaciones</h4>
            <p>Antes de cada partido, el equipo puede decidir que alineación va a utilizar, con que sistema de juego enfrentarán el partido y mucho más.</p>
            <ul>
              <li><i class="i check-green"></i> Formaciones</li>
              <li><i class="i check-green"></i> Estrategia</li>
              <li><i class="i check-green"></i> Jugadores</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-10.png" alt="">
            <h4>Calendario</h4>
            <p>Podrán conocer quienes son sus siguientes rivales y cuando son los partidos, así como llevar el historial de juegos que han tenido en el torneo en el que participan.</p>
            <ul>
              <li><i class="i check-green"></i> Jornadas</li>
              <li><i class="i check-green"></i> Próximos partidos</li>
              <li><i class="i check-green"></i> Anteriores</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="col-inner">
        <div class="profile-feature">
          <div class="inner">
            <img src="assets/img/icons/icon-9.png" alt="">
            <h4>Estadísticas</h4>
            <p>Lugar en la tabla, diferencia de goles, números por jugador, historial de resultados, trofeos obtenidos y mucho, mucho más!</p>
            <ul>
              <li><i class="i check-green"></i> Posición en tabla</li>
              <li><i class="i check-green"></i> Diferencia de goles</li>
              <li><i class="i check-green"></i> Logros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>