<div class="not-logged-header">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <div class="brand">
            <a href="" title="SomosFut"><i class="i somos-brand"></i></a>
          </div>
          <div class="actions">
          <a href="#login" class="btn btn-outline one">Admin</a>
           <!--  <a href="#register" class="btn btn-primary btn-black">Regístrate</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>