<div class="wrapper">
  <div class="cols-16">
    <div class="col col-11">
      <div class="col-inner">
        <div class="profile-intro">
          <div class="title">
            <i class="i leagues"></i>
            <h1>Ligas</h1>
          </div>
          <p>SOMOS FUT busca ayudar a los administradores y dueños de Ligas a hacer más eficiente el manejo de las mismas y así también ofrecer la mejor experiencia de juego a los equipos y jugadores.</p>
        </div>
      </div>
    </div>
  </div>
</div>