<div class="home-intro">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-10">
        <div class="col-inner">
          <h1>SomosFut <br /> ¡Donde el crack eres tú!</h1>
          <p>
            Equipos, torneos y logros individuales. <br/>
            ¡Es momento de que seas el protagonista!
          </p>
          <ul class="ctas">
            <li >
              <a href="#register" title="Regístrate Ahora" class="btn btn-white btn-large btn-black">Regístrate Ahora</a>
            </li>
            <li>
              <a id="watch-video" href="#video" title="Ver Video" class="btn btn-outline btn-large"><i class="i play-white"></i>Video</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-6 phone">
        <img src="assets/img/background/landing-principal-intro-phone.png">
      </div>
    </div>
  </div>
</div>