<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <h1>
          Aviso de Privacidad
        </h1>
        <p>
            El presente aviso de privacidad regula la forma en que trataremos los datos que nos proporciones y aquellos que, con fines estadísticos, recabemos cuando
            ingreses y utilices nuestros sitios o aplicaciones móviles. www.somosfut.com es un sitio de Somos Fut, S.A.P.I. de C.V. (”SomosFut”)
        </p>
        <p>
            <h4>1. De tus datos</h4>
        </p>
        <p>
            “SomosFut” se compromete a no vender, intercambiar, transferir, compartir, publicar o difundir a terceros ajenos a “SomosFut”, sin tu autorización, los
            datos que nos proporciones mediante los formularios de registro o de contacto de nuestro sitio. Tus datos son tuyos. La única forma en que nos veríamos
            obligados a revelar tus datos es mediante la orden de una autoridad competente.
        </p>
        <p>
            <h4>2. De tu autorización</h4>
        </p>
        <p>
            Al registrarte para utilizar nuestros sitios, autorizas a “SomosFut” a recabar y tratar los datos personales especificados en el punto 5 del presente aviso
            de privacidad para los fines mencionados en el punto 4 de este mismo aviso. Así mismo, tu registro constituye tu conformidad y aceptación de nuestro aviso
            de privacidad y las modificaciones que eventualmente pueda llegar a tener.
        </p>
        <p>
            <h4>3. De tus derechos ARCO (acceso, rectificación, cancelación y oposición) y cómo ejercerlos</h4>
        </p>
        <p>
            En todo momento, mediante el acceso a tu cuenta, podrás acceder, rectificar o cancelar el registro de los datos que nos has proporcionado. De la misma
            forma, podrás oponerte a que tus datos continúen en nuestra base y darte de baja de la misma. Si tienes alguna duda o no puedes acceder a tu cuenta o tus
            datos, por favor envía un correo electrónico a privacidad@somosfut.como envía una carta a Somos Fut, S.A.P.I. de C.V., San Luis Potosí 196, Piso 5, Colonia
            Roma, del Distrito Federal, México, CP 0600, en atención al Departamento de Atención a Usuarios o comunícate por teléfono a nuestras oficinas al número +52
            (55) 16 16 6225 y pide que te comuniquen a nuestro Departamento de Atención a Usuarios.
        </p>
        <p>
            <h4>4. Del uso de tu información por parte de SomosFut</h4>
        </p>
        <p>
            La información personal que nos proporciones será utilizada para:
        </p>
        <p>
            <strong>a)</strong> Contactarte sobre cuestiones relacionadas con tu cuenta.
        </p>
        <p>
            <strong>b)</strong> Hacerte llegar comunicaciones sobre eventos, promociones o noticias de “SomosFut” o sus aliados comerciales con fines de mercadotecnia, publicidad o
            prospección comercial .
        </p>
        <p>
            <strong>c)</strong> Configurar tu perfil de usuario en nuestro sitio o nuestra aplicación móvil y vincularlo a tu cuenta de Facebook.
        </p>
        <p>
            <strong>d)</strong> Vincularte con nuestros patrocinadores para ofrecerte sus productos o servicios.
        </p>
        <p>
            <strong>e)</strong> Realizar estudios de mercado y estadísticos.
        </p>
        <p>
            <strong>f)</strong> Diseñar tu perfil de consumidor para ofrecerte publicidad sobre productos o servicios acordes a dicho perfil.
        </p>
        <p>
            <strong>g)</strong> Enviarte notificaciones sobre calendarios de juego, resultados, estadísticas, ubicación de canchas y eventos relacionados con tu equipo o liga.
        </p>
        <p>
            <strong>h)</strong> Notificarte los cambios que puedan darse en nuestro aviso de privacidad.
        </p>
        <p>
            <strong>i)</strong> Personalizar tu experiencia de navegación en nuestros sitios.
        </p>
        <p>
            Las finalidades señaladas en los incisos a y e son necesarias para la existencia, mantenimiento y cumplimiento de la relación entre tú, como usuario de
            nuestros sitios, y “SomosFut”.
        </p>
        <p>
            Las finalidades señaladas en los incisos b, c y d no son necesarias para la existencia, mantenimiento y cumplimiento de la relación entre tú, como usuario
            de nuestros sitios, y “SomosFut”, pero sí son necesarios para mejorar tu experiencia en relación a nuestros productos y servicios.
        </p>
        <p>
            <h4>5. De la información que recolectamos</h4>
        </p>
        <p>
            La información que recolectamos y cuyo tratamiento regula el presente aviso de privacidad es la siguiente:
        </p>
        <p>
            <strong>a)</strong> Para ponernos en contacto contigo por asuntos relacionados con tu cuenta recolectamos tu nombre, apellidos, nombre de usuario y correo electrónico.
        </p>
        <p>
            <strong>b)</strong> Hacerte llegar comunicaciones sobre eventos, promociones o noticias de “SomosFut” o sus aliados comerciales con fines de mercadotecnia, publicidad o
            prospección comercial, recabamos tu nombre, apellidos y correo electrónico.
        </p>
        <p>
            <strong>c)</strong> Para Configurar tu perfil de usuario en nuestro sitio o nuestra aplicación móvil y vincularlo a tu cuenta de Facebook, recabamos tu nombre, apellidos,
            fotografía, lugar y fecha de nacimiento, estatura, peso, si eres jugador zurdo o diestro, número de jugador, posición de juego, equipos a los que
            perteneces, ligas e las que juegas, estadísticas de juego, perfil de Facebook, incluyendo likes, intereses, amigos, ubicación, ocupación y “acerca de”.
        </p>
        <p>
            <strong>d)</strong> Para vincularte con nuestros patrocinadores para ofrecerte sus productos o servicios recabamos tu nombre, apellidos, lugar y fecha de nacimiento,
            estatura, peso, si eres jugador zurdo o diestro, número de jugador, posición de juego, equipos a los que perteneces, ligas e las que juegas, estadísticas
            de juego, perfil de Facebook, incluyendo likes, intereses, amigos, ubicación, ocupación y “acerca de”.
        </p>
        <p>
            <strong>e)</strong> Para realizar estudios de mercado y estadísticos recabamos tu lugar y fecha de nacimiento, estatura, peso, si eres jugador zurdo o diestro, número de
            jugador, posición de juego, equipos a los que perteneces, ligas e las que juegas, estadísticas de juego, perfil de Facebook, incluyendo likes, intereses,
            amigos, ubicación, ocupación y “acerca de”..
        </p>
        <p>
            <strong>f)</strong> Para diseñar tu perfil de consumidor para ofrecerte publicidad sobre productos o servicios acordes a dicho perfil, recabamos si eres jugador zurdo o
            diestro, número de jugador, posición de juego, equipos a los que perteneces, ligas e las que juegas, estadísticas de juego, perfil de Facebook, incluyendo
            likes, intereses, amigos, ubicación, ocupación y “acerca de”.
        </p>
        <p>
            <strong>g)</strong> Para enviarte notificaciones sobre calendarios de juego, resultados, estadísticas, ubicación de canchas y eventos relacionados con tu equipo o liga,
            recabamos tu correo electrónico, teléfono, equipos a los que perteneces y ligas en las que juegas.
        </p>
        <p>
            <strong>h)</strong> Para notificarte los cambios que puedan darse en nuestro aviso de privacidad recabamos tu correo electrónico.
        </p>
        <p>
            <strong>i)</strong> Para personalizar tu experiencia en la navegación de nuestros sitios recabamos el sistema operativo que utilizas, el navegador con que nos visitas, las
            páginas y artículos que visitas dentro de nuestro sitio, el tiempo que nos haces favor de permanecer en nuestro sitio, los artículos que marcas como
            favoritos, los artículos que compartes en alguna red social mediante la herramienta que proporcionamos en cada artículo, dirección IP, nombre de usuario y
            contraseña.
        </p>
        <p>
            <h4>6. Cookies</h4>
        </p>
        <p>
            Si lo autorizas y la configuración de tu máquina nos lo permite, enviaremos un archivo llamado “cookie” que se instalará en tu disco duro para permitirnos
            identificar las preferencias que hayas seleccionado, en su caso, para mejorar tu experiencia en nuestro sitio conforme a la información mencionada en el
            inciso i) del punto 5 de este aviso de privacidad. Ninguna de la información que se almacene en el “cookie” será divulgada por “SomosFut”.
        </p>
        <p>
            Si no deseas que se instale nuestra “cookie” o deseas borrar aquella que ya se haya instalado con tu autorización, deberás hacer lo siguiente:
        </p>
        <p>
            Para no dejar que se instale nuestro “cookie” deberás configurar tu navegador para no aceptar cookies del sitio www.somosfut.com.
        </p>
        <p>
            Para borrar el “cookie” que se haya instalado con tu autorización deberás de ingresar a las preferencias de tu navegador, ubicar la pestaña o sección de
            administración de “cookies” y borrar el “cookie” correspondiente al sitio www.somosfut.com.
        </p>
        <p>
            Al borrar o impedir que se instale el “cookie” de nuestro sitio, puedes perder la configuración que hayas realizado para personalizar tu experiencia en
            nuestro sitio o impedir dicha personalización.
        </p>
        <p>
            <h4>7. Activación de cuenta</h4>
        </p>
        <p>
            Por cuestiones de seguridad, al darte de alta en nuestro sitio y consentir el tratamiento de tus datos conforme al presente aviso de privacidad, te será
            enviado un correo de verificación y validación que deberás de confirmar para concluir tu aceptación y registro.
        </p>
        <p>
            <h4>8. Garantía de seguridad</h4>
        </p>
        <p>
            No obstante que “SomosFut” utiliza la tecnología más avanzada para salvaguardar los datos que nos proporcionas, existe la probabilidad de que pueda haber
            un defecto en la programación de las aplicaciones que utilizamos, que permita el acceso forzado a la información. Aún y cuando esta situación se llegara a
            dar, tus datos están protegidos mediante procesos de cifrado avanzado que hacen imposible la recuperación útil de la información por un tercero ajeno a
            “SomosFut”. Nuestra garantía es hacer todo lo que razonablemente esté a nuestro alcance para resguardar tus datos.
        </p>
        <p>
            <h4>9. Información de otros sitios</h4>
        </p>
        <p>
            Debes tomar en cuenta que la información que alimentas en sitios ajenos a “SomosFut” puede coincidir con aquella que has alimentado o alimentarás en los
            formularios de “SomosFut”. En consecuencia, debes estar consciente y ser responsable de tener el mismo cuidado que tienes con tu información en los sitios
            de “SomosFut”, en los demás sitios en los que navegues o alimentes información de cualquier tipo.
        </p>
        <p>
            <h4>10. Cambios en la política</h4>
        </p>
        <p>
            Es posible que, eventualmente, se realicen cambios a la presente política de privacidad. Te sugerimos visitar frecuentemente esta página para estar al
            tanto de los posibles cambios o modificaciones que pudiera haber. No te preocupes, con todo y cambios, tu información estará segura con “SomosFut”.
        </p>
        <p>
            Además, cuando se den cambios en nuestro aviso de privacidad, te lo notificaremos al correo electrónico que tengas registrado con nosotros. De esa forma,
            siempre estarás al tanto de la última versión de nuestro aviso de privacidad.
        </p>
        <p>
            <h4>11. Contacto y Encargado</h4>
        </p>
        <p>
            Si tienes alguna duda o preocupación en relación a la presente política de privacidad o la forma en que manejamos los datos que nos proporcionas o
            recolectamos, por favor envíanos un mensaje dirigido a Tomás Franco, quien es el encargado de gestionar los datos recabados en nuestras bases. Para
            contactarlo, sólo tienes que enviar un correo electrónico a tom@cursa.me. Nuestro compromiso es contestarte en un plazo no mayor a 48 horas, salvo en caso
            de una excesiva carga de trabajo, caso fortuito o de fuerza mayor.
        </p>
        <p>
            <h4>12. Identidad y Domicilio convencional</h4>
        </p>
        <p>
            Tus datos son tratados y resguardados por Somos Fut, S.A.P.I. de C.V., San Luis Potosí 196, Piso 5, Colonia Roma, del Distrito Federal, México, CP 0600.
        </p>
        <p>
            <h4>13. Límites en el uso o divulgación de tus datos</h4>
        </p>
        <p>
            Si en un momento dado deseas limitar el uso de tus datos por parte de “SomosFut”, por ejemplo cancelar tu suscripción a una lista de noticias, pero deseas
            seguir utilizando los servicios del sitio o recibir otro tipo de comunicados, en el panel de control de tu cuenta puedes seleccionar, habilitar y
            deshabilitar los usos que, conforme a este aviso de privacidad, nos has autorizado. Te pedimos esperar cinco días hábiles posteriores al cambio para que el
            mismo se vea reflejado. Esto quiere decir que en ese tiempo es probable que sigas recibiendo, de manera provisional, los comunicados deshabilitados.
        </p>
        <p>
            De igual forma, puedes solicitar la limitación en el uso de tus datos personales enviando un correo electrónico a privacidad@somosfut.como mediante correo
            postal a Somos Fut, S.A.P.I. de C.V., San Luis Potosí 196, Piso 5, Colonia Roma, del Distrito Federal, México, CP 0600,, en atención al Departamento de
            Atención a Usuarios.
        </p>
        <p>
            Ten en cuenta que al limitar el uso de tus datos es posible que no podamos continuar prestándote uno o más de los servicios que hayas solicitado y para los
            que se necesitan los datos cuyo uso estás limitando.
        </p>
        <p>
            <h4>14. Transferencia de tus datos</h4>
        </p>
        <p>
            Al aceptar el presente aviso de privacidad, autorizas a “SomosFut” a transferir los datos que nos proporciones o aquellos que recolectemos, a sus socios
            comerciales. En todo momento, “SomosFut” se asegurará de que sus socios comerciales conozcan el presente aviso de privacidad y se obliguen a acatarlo y
            respetarlo.
        </p>
        <p>
            Si deseas revocar esta autorización, te pedimos sigas el procedimiento establecido en el punto 15 de este aviso de privacidad.
        </p>
        <p>
            <h4>15. Revocación de tu consentimiento</h4>
        </p>
        <p>
            En cualquier momento, puedes revocar la autorización que nos hayas dado para el tratamiento de tus datos personales. La manera en que puedes llevar a cabo
            dicha revocación de autorización es solicitándolo mediante correo electrónico a <a href="mailto:privacidad@somosfut.com">privacidad@somosfut.com</a> o
            mediante correo postal a Somos Fut, S.A.P.I. de C.V., San Luis Potosí 196, Piso 5, Colonia Roma, del Distrito Federal, México, CP 07890 en atención al
            Departamento de Atención a Usuarios.
        </p>
        <p>
            Ten en cuenta que al revocar tu autorización es posible que no nos sea posible seguir prestándote el o los servicios para los que utilizamos los datos que
            recabamos.
        </p>
      </div>
    </div>
  </div>
</div>

