<div class="standalone-title">
  <div class="wrapper">
    <div class="cols-16">
      <div class="col col-16">
        <div class="col-inner">
          <div class="main mb">
            <div class="content">
              <h2>Torneos</h2>
            </div>
            <div class="actions">
             <!--  <a href="http://mundofut.mx/cedula/cedula-arbitral-somosfut.pdf" class="btn btn-secondary" target="_blank">Cédula Arbitral &#8595;</a> -->
              <a href="#new/tournament" class="btn btn-primary">+ Torneo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tournamets-cards-list">
  <div class="wrapper">
    <div class="cols-12">
      <!-- Cells content -->
    </div>
  </div>
</div>